.all{
	margin-top: 50px;
	display: grid;
	grid-template-columns:repeat(12,1fr);
	grid-template-rows:200px auto 100px 20px;
	grid-template-areas: 
	" t t t t t t t t t t t t "
	" m m m m m m m m m r r r "	
	" b b b b b b b b b b b b "
	" f f f f f f f f f f f f ";
}

.top{
	
	grid-area: t;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.mid{
	grid-area: m;
	
	display: flex;
	justify-content: center;

}

.mid_right{
	grid-area: r;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-left: 1px solid black;
}

.dropdown{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.dropdown_2{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bot{
	grid-area: b;
	
}

.chart_div{
	width: 70vw;
}

.footer{
	grid-area: f;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-right: 10px;
}