
.all{
	
	
	background-color: red;
	height: auto;
	
	display: grid;
	grid-template-columns:repeat(12,1fr);
	grid-template-rows:300px 300px 300px  20px;
	grid-template-areas: 
	" t t t t t t t t t t t t "
	" m m m m m m m m m m m m "	
	" b b b b b b b b b b b b "
	" f f f f f f f f f f f f ";
}


.top{
	margin-top: 50px;
	grid-area: t;
	background-color: red;
	display: flex;
}
.top > .left{
	flex-grow: 1;
	background-color: white;
}

.top > .right{
	flex-grow: 1;
	background-color: black;
}

.mid{
	grid-area: m;
	background-color: yellow;
	display: flex;
}
.mid >.left{
	flex-grow: 1;
	background-color: black;
}
.mid >.right{
	flex-grow: 1;
	background-color: white;
}
.bot{
	grid-area: b;
	background-color: green;
	display: flex;
}
.bot > .left{
	flex-grow: 1;
	background-color: white;
}
.bot > .right{
	flex-grow: 1;
	background-color: black;
}
.footer{
	grid-area: f;
	background-color: red;
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;

}