*{
	padding: 0;
	margin: 0;

	
}

body{
	background-image: linear-gradient(50deg,#FFFFFF,#F1F1F1,#707070);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.nav-main{
	
	width:100%;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 1000;
	position: fixed;
	top:0;
	transition: all 0.3s ease-in-out;


}
.black{
	background-color: rgba(1,1,1,0.8);
	color:white;
}


.btn-nav{
	margin-left: 2px;
	display: flex;
	width: 50px;
	height: 49px;
	align-items:  center;
	justify-content: center;
	cursor: pointer;


}
.btn_move{
	width: 40px;
	height: 4px;
	background:black;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
	border:1px solid white;

}
/* Button navbar */
.btn_move::before,
.btn_move::after{
	content: "";
	height: 4px;
	position: absolute;
	width:40px;
	background-color:black;
	border-radius: 5px;
	border:1px solid white;
	transition: all 0.3s ease-in-out;

}

.btn_move::before{
	transform: translateY(-10px); 
}
.btn_move::after{
	transform: translateY(10px); 

}
/* ANIMATION*/

.btn-nav.open .btn_move {
	transform: translateX(-22px);
	background: transparent;
	border:none;


}
.btn-nav.open .btn_move::before {
	
	transform: rotate(45deg) translate(15px, -15px);
	
}
.btn-nav.open .btn_move::after {
	transform: rotate(-45deg) translate(15px, 15px);
	
}


.nav-main ul{
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;

}

.nav-main ul li{
	list-style: none;
	line-height: 50px;


}
.nav-main ul li a{
	text-decoration: none;
	display:block;
	height: 100%;
	color:#111;
	padding:0 10px;
	text-transform: uppercase;
	

}
.nav-main ul li:hover{

	background-color: lightgrey;
}

.logo{
	line-height: 50px;
	height: 100%;
	transition: 0.3s;
}
.logo:hover{
	cursor: pointer;
}
.date_or_navbar{
	line-height: 50px;
	padding-left:10px;
	transition:0.3s;
}

.signin{

	line-height: 50px;
	font-size: 14px;
	text-align: center;

	
}



.profile{
	width:140px;
	transition: 0.3s
	
}

.profile a{
	text-decoration: none;
	color:#111;

}
.sign_in_out{
	display: block;
}

.profile:hover{

	background-color:lightgrey;
	cursor: pointer;
}

.profile2{
	visibility: hidden;
}

.profile2 ul {
	padding-left: 0px;
	flex-direction: column;


}
.profile2 li{
	border-bottom: 0.5px solid lightgrey;
}

.profile2 li a{
	line-height: 50px;
}


.sidebar{
	position: fixed;
	background-color: black;
	margin-top: 50px;
	height: 500px;
	display: flex;
	justify-content: center;
	width: 0px;
	transition: 0.5s ease-in-out;
	border-radius: 0px  14px 500px 0px;
	border: none;
	border-left:none ;
	box-shadow: 14px 13px 14px ;
	z-index: 100002;

}

.sidebar > ul{
	margin-top: 65px;
	visibility: hidden;
	overflow: hidden;

}


.sidebar > ul > li{
	
	font-size: 20px;
	list-style: none;
	line-height: 40px;
	display: block;




}
.sidebar > ul > li > span {
	color: white;
	font-size: 35px;
	white-space: nowrap;
}

.sidebar > ul > li > a{
	text-decoration: none;
	color: white;
	font-weight: 10px;
	white-space: nowrap;

	

}
.sidebar > ul > li > a:hover{
	color: rgb(170,42,50);
}
