body{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: linear-gradient(50deg,#FFFFFF,#F1F1F1,#707070);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	flex-direction: column;


}
.h1{
	padding: 20px;
	border-bottom: 2px solid black;
}

p{
	width: 200px;

	display: flex;
	justify-content: space-around;

}

.delete, .return {
	padding: 7px;
	
	
	font-size: 15px;
	cursor: pointer;
	
}
.delete:hover, .return:hover{
	background-color:lightgrey;
	
	
}